<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>

<form action="/api/v1/app" method="post" target="dummyframe">
  <h1>Enter a city...</h1>
  <input class="city-input" id="city_name" type="text" name="city_name" value="i.e. Atlanta">
  <input class="city-submit" type="submit" value="Submit">
</form>
